@page "/"  

<PageTitle>Digital Door Configurationi App</PageTitle>


<div class="main-content">
    <div class="container">
        <h4 class="title c-title mb-30">Welcome to Digital Door Platform</h4>
        <div class="general-wp menu">
            <div class="columns">                
            </div>
        </div>
    </div>
</div>







