@page "/"  


<div class="main-content">
    <div class="container">
        <h4 class="title c-title mb-30">NorthWind 2024 NET 8 Clean Architecture</h4>
        <div class="general-wp menu">
            <div class="columns">                
            </div>
        </div>
    </div>
</div>







